.conectar-section {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.selection-content {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.selection-content .card {
    width: 300px;
}

select {
    display: block;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 7px 15px;
    width: 100%;
}